
body {
  background: url(imagevitrine.gif) no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
  width: 100%;


}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44; 
}

.text{
      
      margin-left:60%;
      margin-right: -80%;
     
      width: 40%;
      height: auto;
      justify-content: center;
      text-align: justify;
      
}

      #tout{
        display:flex-box;
            flex-direction: column;
            flex-wrap: nowrap;
      }

h1 {
  
  color: #505156;
  margin-top: 10%;
 

  font-size: 18px;
  

}

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
  cursor: pointer;
}

.btn-xl {
  padding: 1rem 2rem; 
}

/* Texte défilant */

.defileParent {
	display: block;
	margin: 3em auto;
	overflow: hidden;
	position: relative;
	table-layout: fixed;
	width: auto;
  max-width:100%;
}
.defile {
	display:block;
	-webkit-animation:linear marqueelike 10s infinite ;
	-moz-animation:linear marqueelike 10s infinite ;
	-o-animation:linear marqueelike 10s infinite ;
	-ms-animation:linear marqueelike 10s infinite ;
	animation:linear marqueelike 10s infinite ;
	margin-left:-100%;
	padding:0 5px;
	text-align:left;
  font-size:38px;
	white-space:nowrap;
  color: #f44d0b;
}


.defile:after {
	content:attr(data-text);
	position:absolute;
	white-space:nowrap;
	padding-left:10px;
}

@-webkit-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-moz-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-o-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-ms-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }

